
:root {
	--black: #000011;
	--darkslategray: #4b5354;
	--steelblue: #285ea3;
	--lightblue: #9dd0e6;
	--lavendar: #e9edef;
	--main-text: #ffffff;
}


::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	background: rgb(0,0,0);
	background: linear-gradient(61deg, var(--black) -50%, rgba(0,0,0,1) 30%, var(--steelblue) 150%);
	font-family: "Inter", sans-serif;
	color: var(--main-text);
	font-size: 18pt;
}

#name {
	margin: 0;
    padding: 2vw 6vw;
	font-size: 2.5rem;
    letter-spacing: 1.5px;
}

#intro {
	padding: 5rem 12vw;
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

#introImageContainer {
	display: flex;
	position: relative;
}

#introImage {
	height: 34vw;
	width: 34vw;
	border-radius: 50%;
	background-image: url("img/portrait.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.insideCircle {
	border-radius: 50%;
	position: absolute;
	z-index: -1;
}

#insideCircle1 {
	height: 36vw;
	width: 36vw;
	background-color: var(--lightblue);

	left: 0;
	top: -3vw;
}

#insideCircle2 {
	height: 33vw;
	width: 33vw;
	background-color: var(--darkslategray);

	left: 4vw;
    top: 2vw;
}

#insideCircle3 {
	height: 30vw;
	width: 30vw;
	background-color: var(--steelblue);

	left: -1vw;
    top: .5vw;
}

#introText {
	width: 45%;
}

#introText h1 {
	font-size: 6vw;
}

#introDescription {
	font-family: 'Lora', serif;
}

.terminalContainer {
	padding-top: 8vw;
	padding-bottom: 4vw;
}

.terminal {
	font-family: 'Courier Prime', monospace;
	font-size: 1rem;
	padding: 1rem;
	margin: 0 auto;
	width: 75%;
	max-width: 700px;
	border-top: 20px solid var(--main-text);
	border-radius: 10px;
	background: var(--darkslategray);
}

.command {
	color: var(--main-text);
}

.terminalReturn {
	padding-left: 2rem;
	color: var(--main-text);
}

.terminalReturn a {
	color: var(--lightblue);
}

.terminalBullets {
	list-style: none;
}

.footer {
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	font-size: 1.8rem;
}

#signature {
	margin: 0 auto;
    width: 20vw;
	padding-bottom: 1rem;
}

#signature img {
	width: 100%;
}

.icon {
	height: 40px;
	padding: 0 15px;
}

.icons {
	margin: 0 auto;
	text-align: center;
	margin-top: 1rem;
}

.icons a {
	text-decoration: none;
}

@media screen and (max-width: 767px) {

	#intro {
		display: block;
		padding: 1rem 12vw;
	}

	#introImageContainer {
		width: 67vw;
		margin: 0 auto;
	}

	#introImage {
		height: 67vw;
		width: 67vw;
		border-radius: 50%;
		background-image: url("img/portrait.JPG");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#insideCircle1 {
		height: 70vw;
		width: 70vw;

		left: 1vw;
		top: -3vw;
	}

	#insideCircle2 {
		height: 65.5vw;
		width: 65.5vw;

		left: 6vw;
		top: 3vw;
	}

	#insideCircle3 {
		height: 64vw;
		width: 64vw;

		left: -3vw;
		top: 1vw;
	}

	#introText {
		width: 100%;
	}

	#introText h1 {
		font-size: 12vw;
	}

	.navigation {
		text-align: center;
		margin: 10px;
		padding: 0;
	}

	.navigation a {
		padding: 1rem;
	}

	.terminalBullets {
		padding-left: 0 !important;
	}

	.terminal {
	  width: 80%;
	  font-size: .9rem;
	}

	#signature {
		width: 70vw;
	}
  }