.header {
	background-color: white;
	z-index: 9;
	/* box-shadow: 1px 1px 4px white; */
}

.title h1{
	padding-left: 200px;
	color: #588B8B !important;
	padding-top: 5px;
}

.mountainImage {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 440px;
  	height: 150px;
  	padding-right: 30px;
  	padding-top: 50px;
}

.imageContainer {
	margin: 0 auto;
}

.terminalContainer {
	width: 100%;
	background-color: #A77474;
	padding-top: 70px;
	padding-bottom: 40pt;
}

.terminal {
	font-family: 'Courier Prime', monospace;
	font-size: 11pt;
	background-color: #383737;
	width: 670px;
	padding: 20px;
	margin: 60px auto;
	margin-top: 0;
	border-top: 20px solid #cccccc;
	border-radius: 5px;
}

.helloWorld{
	text-align: center;
	padding-top: 50px;
	font-size: 30px;
}

.return {
	padding-left: 35px;
	color: #cccccc;
}

.projects {
	height: 500px;
	color: #383737;
}

.projects h2 {
	color: #A77474;
}

.projects div {
	padding-left: 150px;
}

.programming div {
	padding-left: 60px;
}

.footer {
	/* height: 170px; */
	/* height: 330px; */
	background-color: #588B8B;
}

.thankYou {
	margin: 0;
	padding: 25px;
	text-align: center;
	font-size: 20pt;
}

#signature {
	position: relative;
	width: 200px;
	top: -40px;
	left: 45%;
}

.decoration {
	background-color: #588B8B;
	height: 380px;
}

.return a {
	color: #588B8B;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 !important;
}

.company {
	color: black;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 60px;
}

.companyLogo img {
	width: 30pt;
	padding-top: 1pt;
	padding-left: 2.5pt;
}

.companyLogo {
	width: 35pt;
	height: 35pt;
	float: left;
	border: 1px #cccccc solid;
	border-radius: 50%;
}

.companyName {
	color: #A77474;
	font-size: 16pt;
	padding-left: 65px;
}

.companyName h2 {
	margin-bottom: 0;
}

.date {
	font-size: 12px;
	color: black;
	margin-top: 0;
	padding-left: 2px;
}

.description p {
	font-size: 18px;
	margin-left: 30px;
	line-height: 2.5;
	text-indent: 40px;
}

.languageChip {
	color: #588B8B;
	height: 25px;
	border: 1.5pt white solid;
	border-radius: 15em;
	font-size: 12pt;
	display: inline-block;
	padding: 5px 5px 0px 5px;
	margin: 0px 5px;
	background-color: rgba(211,211,211, .5);
	box-shadow: 1px 1px 4px black;
}

::-webkit-scrollbar {
  display: none;
}

.jobDescription {
	padding: 10px 0px;
	line-height: 1.6;
}

.shadowed {
	-webkit-filter: drop-shadow(2px 2px 7px rgba(0,0,0,0.5));
}

.icon {
	height: 40px;
	padding: 0 15px;
}

.icon:hover{
	filter: invert(0.5) 
	sepia(1) 
	hue-rotate(280deg)
	saturate(1)
    brightness(1);
}

.icons {
	margin: 0 auto;
	text-align: center;
}

.icons a {
	text-decoration: none;
}

.terminalBullets {
	list-style: none;
}

.navigation {
	text-align: right;
	padding: 2rem;
}

.navigation a {
	text-decoration: none;
	color: #588B8B;
	font-size: 1.2rem;
	padding: 1rem;
}

.top {
	display: flex;
    flex-wrap: wrap;
}

.top div {
	flex: 1 1;
}

@media screen and (max-width: 767px) {

	.top {
		display: block;
		flex-wrap: nowrap;
	}

	.top div {
		flex: none;
	}

	.navigation {
		text-align: center;
		margin: 10px;
		padding: 0;
	}

	.navigation a {
		padding: 1rem;
		/* margin: 10px; */
	}

	.title h1 {
		padding: 0;
		text-align: center;
	}

	.title {
		margin: 0 auto;
	}

	.terminalBullets {
		padding-left: 0 !important;
	}

	.name {
		margin: 30px 0px 30px 0px;
		font-size: 30pt;
		text-align: center;
		padding: 0;
	}

	.helloWorld{
		text-align: center;
		padding-top: 50px;
		font-size: 30px;
	}	

	.terminal {
	  width: 80%;
	  font-size: 9pt;
	}

	.footer {
		/* height: 180pt; */
		font-size: 25pt;
	}

	#signature {
		width: 250px;
		top: -40px;
		left: 20%;
	}

	.jobDescription p {
		font-size: 18pt;
		margin-left: 0;
	}

	.company {
		width: 85%;
	}

	.languageChip {
		font-size: 14pt;
		padding: 10px;
	}

	.mountainImage {
		width: 60%;
		height: 75pt;
	}

  }